<div *ngIf="!isLoginRoute && !isRegisterRoute">
  <app-navi></app-navi>
  <img src="assets/e-commers_logo.png" alt=""
       style="position: fixed; top: 75px; left:80px; padding: 25px; width: 325px;">
  <div class="row">
    <div class="col-md-3">
      <app-category></app-category>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- Sadece Login rotası için router-outlet gösterilir -->
<div *ngIf="isLoginRoute">
  <router-outlet></router-outlet>
</div>

<!-- Sadece Register rotası için router-outlet gösterilir -->
<div *ngIf="isRegisterRoute">
  <router-outlet></router-outlet>
</div>
